<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <title>Tech Journal - <%= postTitle %></title>

  <link rel="icon" type="image/png" href="/images/favicon.svg">

  <!-- facebook open graph -->
  <meta property="og:url" content="https://www.harshitgupta.co.in/posts/<%= postId %>" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="<%= postTitle %>" />
  <meta property="og:description" content="<%= description %>" />
  <meta property="og:image" itemprop="image" content= "<%= postImage %>" />
  <meta property="og:image:width" content="200">
  <meta property="og:image:height" content="200">

  <!-- twitter card -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@Harshit64443967" />
  <meta name="twitter:title" content="<%= postTitle %>" />
  <meta name="twitter:description" content="<%= description %>" />
  <meta name="twitter:image" content="<%= postImage %>" />

  <script data-ad-client="ca-pub-8048922493314592" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.1/styles/a11y-dark.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/thinline.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.1/languages/go.min.js"></script>
  <script src="ckeditor/ckeditor.js" charset="utf-8"></script>

  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container custom-style">
      <a class="navbar-brand" href="/">TECH JOURNAL</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse  custom-style-items" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" href="#technology">TECHNOLOGY</a></li>
          <li class="nav-item"><a class="nav-link" href="#travel">TRAVEL</a></li>
          <li class="nav-item"><a class="nav-link" href="https://www.harshitgupta.tech/" target="_blank">PORTFOLIO</a></li>
        </ul>
        <form class="account" action="/compose" method="get">
          <button class="c-button btn" type="submit" name="button">Compose</button>
        </form>
      </div>
    </div>
  </nav>
</head>
<body>

  <div class="container content">
    <h1> <%= postTitle %> </h1>
    <img class="single-post-img" src=<%= postImage %> alt="projectImage">
    <p> <%- postBody %> </p>

    <div class="bottomForAlign">
      <%- projectVid %>
    </div>

    <div class="amazonOffers">
      <h2 class="products">Amazon Features</h2>
      <% if(products.length === 1){ %>
      <% products.forEach(function(product){ %>
      <p align="center"> <%- product %> </p>
      <% }) %>
      <% } else{ %>
      <% products.forEach(function(product){ %>
      <%- product %>
      <% }) %>
      <% } %>
    </div>
  </div>

  <div align="center">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-8048922493314592" data-ad-slot="4529171017" data-ad-format="auto" data-full-width-responsive="true">
    </ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>

  <div class="bottomForAlign_1">
    <script type="text/javascript" language="javascript">
      var aax_size = '300x250';
      var aax_pubname = 'humanformeart-21';
      var aax_src = '302';
    </script>
    <script type="text/javascript" language="javascript" src="https://c.amazon-adsystem.com/aax2/assoc.js"></script>
  </div>

  <div class="bottomForAlign_2">
    <script type="text/javascript" language="javascript">
      var aax_size = '728x90';
      var aax_pubname = 'humanformeart-21';
      var aax_src = '302';
    </script>
    <script type="text/javascript" language="javascript" src="https://c.amazon-adsystem.com/aax2/assoc.js"></script>
  </div>


  <div class="footer">
    <h3 class="footer-msg">Find me on social media platforms</h3>

    <div class="social">
      <a target="_blank" href="https://www.linkedin.com/in/harshit-gupta-38377117b/"><svg class="social-img" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 128 128">
          <circle cx="64" cy="64" r="64" fill="#0177b5" />
          <path fill="#fff"
            d="M92,32H36a4,4,0,0,0-4,4V92a4,4,0,0,0,4,4H92a4,4,0,0,0,4-4V36A4,4,0,0,0,92,32ZM52,86H42V56H52ZM47,52a6,6,0,1,1,6-6A6,6,0,0,1,47,52ZM86,86H76V66c0-1.66-2.24-3-5-3-4,0-5,5.34-5,7V86H56V56H66v7c0-5,4.48-7,10-7A10,10,0,0,1,86,66Z" />
        </svg></a>

      <a target="_blank" href="https://github.com/harshitg123"><svg class="social-img siz" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 24 24">
          <path fill="#D3D3D3"
            d="M12,2.2467A10.00042,10.00042,0,0,0,8.83752,21.73419c.5.08752.6875-.21247.6875-.475,0-.23749-.01251-1.025-.01251-1.86249C7,19.85919,6.35,18.78423,6.15,18.22173A3.636,3.636,0,0,0,5.125,16.8092c-.35-.1875-.85-.65-.01251-.66248A2.00117,2.00117,0,0,1,6.65,17.17169a2.13742,2.13742,0,0,0,2.91248.825A2.10376,2.10376,0,0,1,10.2,16.65923c-2.225-.25-4.55-1.11254-4.55-4.9375a3.89187,3.89187,0,0,1,1.025-2.6875,3.59373,3.59373,0,0,1,.1-2.65s.83747-.26251,2.75,1.025a9.42747,9.42747,0,0,1,5,0c1.91248-1.3,2.75-1.025,2.75-1.025a3.59323,3.59323,0,0,1,.1,2.65,3.869,3.869,0,0,1,1.025,2.6875c0,3.83747-2.33752,4.6875-4.5625,4.9375a2.36814,2.36814,0,0,1,.675,1.85c0,1.33752-.01251,2.41248-.01251,2.75,0,.26251.1875.575.6875.475A10.0053,10.0053,0,0,0,12,2.2467Z" />
        </svg></a>

      <a target="_blank" href="https://twitter.com/Harshit64443967"><svg class="social-img" xmlns="http://www.w3.org/2000/svg" viewBox="126.444 2.281 589 589">
          <circle cx="420.944" cy="296.781" r="294.5" fill="#2daae1" />
          <path fill="#fff"
            d="M609.773 179.634c-13.891 6.164-28.811 10.331-44.498 12.204 16.01-9.587 28.275-24.779 34.066-42.86a154.78 154.78 0 0 1-49.209 18.801c-14.125-15.056-34.267-24.456-56.551-24.456-42.773 0-77.462 34.675-77.462 77.473 0 6.064.683 11.98 1.996 17.66-64.389-3.236-121.474-34.079-159.684-80.945-6.672 11.446-10.491 24.754-10.491 38.953 0 26.875 13.679 50.587 34.464 64.477a77.122 77.122 0 0 1-35.097-9.686v.979c0 37.54 26.701 68.842 62.145 75.961-6.511 1.784-13.344 2.716-20.413 2.716-4.998 0-9.847-.473-14.584-1.364 9.859 30.769 38.471 53.166 72.363 53.799-26.515 20.785-59.925 33.175-96.212 33.175-6.25 0-12.427-.373-18.491-1.104 34.291 21.988 75.006 34.824 118.759 34.824 142.496 0 220.428-118.052 220.428-220.428 0-3.361-.074-6.697-.236-10.021a157.855 157.855 0 0 0 38.707-40.158z" />
        </svg></a>

      <a target="_blank" href="https://www.youtube.com/channel/UCkXN0w4NCF7a6a4C1ZPHPGw"><svg class="social-img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" size="10px" width="40px" height="40px">
          <path fill="#FF3D00"
            d="M43.2,33.9c-0.4,2.1-2.1,3.7-4.2,4c-3.3,0.5-8.8,1.1-15,1.1c-6.1,0-11.6-0.6-15-1.1c-2.1-0.3-3.8-1.9-4.2-4C4.4,31.6,4,28.2,4,24c0-4.2,0.4-7.6,0.8-9.9c0.4-2.1,2.1-3.7,4.2-4C12.3,9.6,17.8,9,24,9c6.2,0,11.6,0.6,15,1.1c2.1,0.3,3.8,1.9,4.2,4c0.4,2.3,0.9,5.7,0.9,9.9C44,28.2,43.6,31.6,43.2,33.9z" />
          <path fill="#FFF" d="M20 31L20 17 32 24z" />
        </svg></a>
    </div>
    <p class="copyright">© 2021 Harshit Gupta.</p>
    <p class="digitalocean">
      <a href="https://www.digitalocean.com/?refcode=e388c947e6d7&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge">
        <img src="https://web-platforms.sfo2.cdn.digitaloceanspaces.com/WWW/Badge%201.svg" alt="DigitalOcean Referral Badge" />
      </a>
    </p>
  </div>

  <script src="ckeditor/script.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.1/highlight.min.js"></script>
  <script>
    hljs.highlightAll();
  </script>
  <script type="text/javascript" src="/javascript/script.js" charset="utf-8"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>
